<!--This is the footer that all the pages will use-->
<footer>
        <ul class= nav-icon>
        <li><a href="https://www.facebook.com/Alejandro1367/?view_public_for=226611355226429" target="blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="http://youtube.com" target="blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="http://instagram.com" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        <li><a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
  &copy; <span id="this-year"></span> Pocket Pill (and Lorem Picsum)
  <script src="/js/thisyear.js"></script>
</footer>

