<!--This is a partials for navigation bar for all pages except the home page-->
<header class="head-wrap">
  <div class="nav-wrap">
    <nav class="navbar">

      <!--company logo and company title-->
      <a href="/"><img src="/images/canvas_nav.png" class="logo" alt="Website Logo"></a>
      <h3><a href="/">Travel Experts Agency Inc.</a></h3>
      
      <!--Hamburger Menu-->
      <div class="menu-toggle" id=portrait-menu>
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>

      <!--Navigation links-->
      <ul class="nav no">

        <!--A current state is used in this partial to make the active link current-->
        <li class="nav-link">
          <a <%if (current=="about")
          {%>class="current"<%}%> href="/about">About Us</a>
        </li><li class="nav-link">
          <a <%if (current=="explore")
          {%>class="current"<%}%> href="/explore">Explore</a>
        </li>
        <li class="nav-link">
          <a <%if (current=="contact")
          {%>class="current"<%}%> href="/contact">Contact Us</a>
        </li>
        <li class="nav-link">
          <a <%if (current=="login")
          {%>class="current"<%}%> href="/login">Login</a>
        </li>
        <li class="nav-link">
          <a <%if (current=="register")
          {%>class="current"<%}%> href="/register">Register</a>
        </li>
      </ul>
      <ul class= nav-icon>
        <li><a href="http://facebook.com" target="blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="http://youtube.com" target="blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="http://instagram.com" target="blank"><i class="fab fa-instagram-square"></i></a></li>
        <li><a href="http://twitter.com" target="blank"><i class="fab fa-twitter"></i></a></li>
      </ul>
    </nav>
  </div>
</header>