<!--This partials contains the navigation bar for the home page alone-->
<header class="nav-wrap">
  <nav class="navbar">
    
    <!--Hamburger Menu-->
    <div class="menu-toggle" id=portrait-menu>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>

    <!--Navigation links-->
    <ul class="nav no">
      <li class="nav-link"><a href="/destination">Destinations</a></li>
      <li class="nav-link"><a href="/contact">Contact Us</a></li>
      <li class="nav-link"><a href="/login">Login</a></li>
      <li class="nav-link"><a href="/register">Register</a></li>
    </ul>
  </nav>
</header>