<% if(typeof errors != 'undefined'){ %> <% errors.forEach(function(error) { %>
    <%= error.msg %>
    <p></p>
  <% }); %>
<% } %>

<% if(typeof xpage_message != 'undefined'){ %>
  <%= xpage_message %>
  <p></p>
<% } %>