<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head'); %> 
  <title>Vacation Packages</title>
  <%- include('./partials/css-global'); %>
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/index.css">
</head>

<body>
  
  <header>
    <!--This section contains the navigation bar which will be at the top of the page-->
    <%- include('./partials/header-nav', {current:"explore"}); %>
  </header> 

  <main>
  <!--This is the Gallery containing images for different destinations. The For each loop is used below-->
    <div class="gallery"></div>
  </main>

<!--Footer will be below the page-->
<%- include('./partials/foot'); %>

<!--This contains the javascript for hamburger menu and image gallery array for each loop-->
<script src="/js/explore.js"></script>
</body>
</html>
