.aboutus{
  background-color: rgb(245, 243, 241);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 5px 1fr 1fr 1fr 1fr 5px;
  grid-template-areas: 
  "about0 about0 about0 about0 about0 about0"
  ". about1 about1 about1 about1 ."
  ". about2 about2 about2 about2 ."
  "about3 about3 about3 about3 about3 about3"
  ". about4 about8 about5 about6 about7"
  "about9 about9 about9 about9 about9 about9";
  /*grid-gap: 10px;*/
}
.about0{
  grid-area: about0;
  background-color: rgb(116, 81, 116);
  background-size: cover;
}

.about1{
  grid-area: about1;
  justify-self: center;
}
.about2{
  grid-area: about2;
  justify-self: center;
}
.about3{
  grid-area: about3;
  justify-self: center;
}
.about4{
  grid-area: about4;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.about5{
  grid-area: about5;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.about6{
  grid-area: about6;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.about7{
  grid-area: about7;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.about8{
  grid-area: about8;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}
.about9{
  grid-area: about9;
  background-color: rgb(116, 81, 116);
  background-size: cover;
}


.aboutExperts, .aboutclients, .aboutmobile, .aboutpartners, .aboutbranches{
  display: grid;
  grid-template-columns: 50px 1fr 20px 1fr 50px;
  grid-template-rows: 10px 1fr 1fr;
  grid-gap: 10px;
}

.aboutExperts{
  grid-template-areas: 
  ". . . . ."
  ". expert1 . expert3 ."
  ". expert2 . expert3 .";
}

.expert0{
  grid-area: expert0;
}
.expert1{
  grid-area: expert1;
  color: rgb(76, 76, 117);
  justify-self: center;
  align-self: end;
}
.expert2{
  grid-area: expert2;
  align-self: start;
}
.expert3{
  grid-area: expert3;
}


.aboutpartners{
  grid-template-areas: 
  ". . . . ."
  ". partner3 . partner1 ."
  ". partner3 . partner2 .";
}
.partner0{
  grid-area: partner0;
}
.partner1{
  grid-area: partner1;
  color: rgb(76, 76, 117);
  justify-self: center;
  align-self: end;
}
.partner2{
  grid-area: partner2;
  align-self: start;
}
.partner3{
  grid-area: partner3;
}

.aboutclients{
  grid-template-areas: 
  ". . . . ."
  ". client1 . client3 ."
  ". client2 . client3 .";
}
.client0{
  grid-area: client0;
}
.client1{
  grid-area: client1;
  color: rgb(76, 76, 117);
  justify-self: center;
  align-self: end;
}
.client2{
  grid-area: client2;
  align-self: start;
}
.client3{
  grid-area: client3;
}

.aboutbranches{
  grid-template-areas: 
  ". . . . ."
  ". branches3 . branches1 ."
  ". branches3 . branches2 .";
}
.branches0{
  grid-area: branches0;
}
.branches1{
  grid-area: branches1;
  color: rgb(76, 76, 117);
  justify-self: center;
  align-self: end;
}
.branches2{
  grid-area: branches2;
  align-self: start;
}
.branches3{
  grid-area: branches3;
}

.aboutmobile{
  grid-template-areas: 
  ". . . . ."
  ". mobile1 . mobile3 ."
  ". mobile2 . mobile3 .";
}
.mobile0{
  grid-area: mobile0;
}
.mobile1{
  grid-area: mobile1;
  color: rgb(76, 76, 117);
  justify-self: center;
  align-self: end;
}
.mobile2{
  grid-area: mobile2;
  align-self: start;
}
.mobile3{
  grid-area: mobile3;
}


