.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-width: 800px;
  margin: auto;
}

.gallery a {
  margin: 0.5em;
  max-height: 100px;
}

.agencyList {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;

  max-width: 800px;
  margin: auto;
}

.destination-single {
  justify-content: center;
  text-align: center;
}

.destination-single figure {
  justify-content: center;
  text-align: center;
}

