/* Author: Titilope Raheem
   Date: 26th July 2020
   Course module: CPRG-210-XM1 - Wed Application Development
   Assignment 3 - Node Final*/

/* Define font style*/
body{
  height: 100vh;
}

/* Navigation styling and setup*/
.head-wrap {
  width: 100%;
}
  
.nav-wrap {
  position: sticky;
}
 
/* give navbar flex properties */
.navbar {
  justify-content: space-between;
  align-items: center;
}

/* Company Title styling*/
h3{
  cursor: pointer;
  margin-right: auto;
 }
 .navbar a{
    text-decoration: none;
  }

/* Company logo on navbar styling */
.navbar img {
  height: 50px;
  width: 100px;
  margin-left: 20px;
  
  /* move company logo to the left side */
  justify-self: start;
  
  /* give logo a cursor state */
  cursor: pointer;
}
 
/* style background for the main section*/
main{
    background-image: url("/images/gear1.jpg");
    background-size: cover;
    background-position: center;
}

/* move all span items to the left*/
form span{
    float: left;
    padding-left: 10px;
}

/* style register form and placeholder*/
#register, #order{
    max-width: 500px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;

    background: #38637E;
}

#register input, #order input{
    font-family: sans-serif;
    width: 100%;
    margin: 0 0 13px;
    padding: 13.5px;
    font-size: 14px;

    border: 10px;
    box-sizing: border-box;
    background: #f2f2f2;
}

/* red outline when invalid*/
input:invalid{
    border: solid red;
}

/* add a red asterisk to show user it is required*/
label.required ::after{
    content: '*';
    color: red;
}

/* style signup button */
#register button, #order button{
    font-family: sans-serif;
    text-transform: uppercase;
    outline: 0;
    width: 100%;
    padding: 8px;
    color: #0F407D;
    font-size: 20px;

    border: 0;
    background: #DFB988;
}

/* declare hover state for login button */
#register button:hover, #order button:hover{
    background-image: linear-gradient(white, black);
}

/*Style login form and give background*/
.form{
  width: 100%;
  height: 88vh;
  margin: 0;

  /* background styling */
  background-image: url(https://picsum.photos/id/279/200/300);
  background-size: cover;
  background-position: center;
}

#login{
  background: #38637E;
  max-width: 500px;
  margin: 0 auto;
  padding: 45px;
  text-align: center;
}

/* style login form input area */
#login input{
  font-family: sans-serif;
  width: 100%;
  font-size: 14px;
  margin: 0 0 15px;
  padding: 15px;
  
  box-sizing: border-box;
  border: 0;
  background: #f2f2f2;
}

/* style login button */
/* #login button{
  font-family: sans-serif;
  text-transform: uppercase;

  outline: 0;
  background: #d1b2b2;

  width: 100%;
  border: 0;
  padding: 15px;
  color: #ffffff;
  font-size: 14px;
} */

/* declare hover state for login button */
#login button:hover{
  background-image: linear-gradient(white, black);
}  

/* this is the color declared for the current year in the footer */
#this-year{
  color: rgb(105, 69, 48);
}
