body {
  margin: 0;
  background-color:white;
}

.popupBox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

img{
  border:none;
  overflow:hidden;
}
.toolbar {
  text-align: right;
  padding: 10px;
  font-size: 2rem;
}

.close {
  color: rgb(218, 34, 34);
  cursor: pointer;
}

.popupBox .popContainer {
  text-align: center;
  vertical-align: middle;
  background: rgb(69, 161, 186);
  padding: 2px;
}

.popupBox.closed {
  display: none;
}

button{
  margin: 5px;
  padding: 10px;
  background-color: rgb(110, 120, 139);
  text-align: center;
}

.pop{
  color: rgb(38, 38, 65);
  text-align: center;
}

/* button test (Please let me know if this is the right location) */
button{
  background:    #195e83;
  border-radius: 11px;
  padding:       15px 35px;
  color:         #986450;
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
}
