/* declare body properties */
body {
  margin: 0;
  background-color:white;
}

/* style the popup and display flex */
.popupBox {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  /* flex properties */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* style image on pop up */
img{
  border:none;
  overflow:hidden;
}

/* style text in pop up */
.toolbar {
  text-align: right;
  padding: 10px;
  font-size: 2rem;
}

/* style X sign on pop up */
.close {
  color: rgb(218, 34, 34);
  cursor: pointer;
}

.popupBox .popContainer {
  text-align: center;
  vertical-align: middle;
  background: #38637E;
  padding: 2px;
}

.popupBox.closed {
  display: none;
}

.pop{
  color: #B5A084;
  text-align: center;
}

/* button styling */
button{
  background:    #195e83;
  border-radius: 11px;
  padding:       15px 35px;
  color:         #B5A084;
  
  display:       inline-block;
  font:          normal bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
}
