/* This css is for the destination-single page where the larger single images are displayed */

/* let the main part display as a flex and properties attibuted */
.destination-single figure a button {
  text-emphasis: none;
  text-decoration: none;
  font-size: 32px;

  background-color: transparent;
  border: 2px solid transparent;
  color: #110011;
}

.destination-single figure a button:hover {
  text-emphasis: none;
  text-decoration: none;
  font-size: 32px;

  background-color: transparent;
  border: 2px solid #110011;
  color: #110011;
}

.large-images {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 5px;
}

/* description of each large image given border and styled */
h5{
  border: 1px solid black;
  border-radius: 10px;
  border-style: dotted;

  text-align: center;
  width: 200px;
  margin: 20px;
  font-size: 1rem;
}

.destination-single {
  justify-content: center;
  text-align: center;
}

.destination-single h5 {
  justify-content: center;
  text-align: center;
}

/* Media Query for mobile menu view*/
@media only screen and (max-width: 720px) {   

  /* adjust flex direction */
  .large-images{
    flex-direction: column;
  }

  /* increase width of image description */
  h5{
    width: 420px;
  }

  /* reduce image size */
  .large-images img{
    height: 300px;
    width: 420px;
  }
}